.container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)) repeat(8, minmax(0, 1fr)) minmax(0, 1fr);
    grid-gap: 20px;
}

#navigation {
    grid-column: span 2;
    background-color: #f2f2f2;
    padding: 25px;
}

#main {
    grid-column: span 8;
    background-color: #e0e0e0;
    padding-left: 20px;
    padding-right: 20px;
}

#menu {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
}

#menu button {
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 0px;
}

#menu button:hover {
    background-color: greenyellow;
    color: rgb(136, 57, 193);
    margin-left: 0px;
    margin-right: 0px;
}

.content {
    display: none;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: rgb(45, 45, 235);
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

.grid-item {
    background-color: #89ede8;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.grid-item.occupied {
    background-color: red;
}

.grid-item.unoccupied:hover {
    background-color: darkgrey;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 40%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type="text"],
input[type="number"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#togglePassword, #toggleOldPassword, #toggleNewPassword {
    float: right;
}

#btnOpen {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

#btnOpen:hover {
    background-color: #45a049;
}

.modal::after {
    content: "";
    clear: both;
    display: table;
}

#paymentContent {
    display: none;
}

#paymentContent h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#btnSearchOrder {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#btnSearchOrder:hover {
    background-color: #0056b3;
}

#searchResultOrder {
    display: none;
    justify-content: space-between;
    margin-top: 20px;
}

#informationOrder,
#detailOrder {
    width: calc(50% - 10px);
}

#informationOrder {
    background-color: rgb(199, 225, 224);
    padding: 20px;
    border-radius: 5px;
}

#detailOrder {
    background-color: rgb(142, 240, 237);
    padding: 20px;
    border-radius: 5px;
}

#informationOrder h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

#informationOrder p {
    margin-bottom: 5px;
}

#informationOrder button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#informationOrder button:hover {
    background-color: #0056b3;
}

table th,
table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.completed-icon {
    color: green;
}

.fa-check-circle {
    font-size: 18px;
}

.completed-icon,
.fa-check-circle {
    color: green;
}

#btnConfirmPayment {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#btnConfirmPayment:hover {
    background-color: #0056b3;
}

.errMessage{
    display: none;
    color: red;
}

#btnLogout {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0eac0e;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#btnLogout:hover {
    background-color: #04670c;
}

#btnChangePassword {
    position: fixed;
    bottom: 80px;
    right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0e9cac;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    max-width: 120px;
    text-align: center;
}

#btnChangePassword:hover {
    background-color: #007bff;
}

#newOrderContent, #paymentContent, #currentShiftContent, #historyContent, #accountManageContent {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 95%;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

#currentShiftContent, #historyContent, #accountManageContent {
    margin-right: 20px;
}

#currentShiftContent tr:hover,
#historyContent tr:hover,
#accountManageContent tr:hover {
    background-color: #e0e0e0;
}

#currentShiftContent table,
#historyContent table,
#accountManageContent table {
    width: 100%;
    border-collapse: collapse;
}

#currentShiftContent th,
#currentShiftContent td,
#historyContent th,
#historyContent td,
#accountManageContent th,
#accountManageContent td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #f2f2f2;
}

.view-detail, .btnEdit, .btnDelete, #btnAdd {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 5px;
}

.view-detail:hover, .btnEdit:hover, .btnDelete:hover, #btnAdd:hover {
    background-color: #0056b3;
}

.view-detail:focus, .btnEdit:focus, .btnDelete:focus, #btnAdd:focus {
    outline: none;
}

.view-detail:focus-visible, .btnEdit:focus-visible .btnDelete:focus-visible, #btnAdd:focus-visible {
    outline: 2px solid #0056b3;
}

#billInformation {
    margin-top: 20px;
}

#billInformation p {
    margin: 5px 0;
}

#billInformation strong {
    font-weight: bold;
}

#billInformation span {
    color: #333;
}

#foodItemsTable table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#foodItemsTable th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#foodItemsTable th {
    background-color: #f2f2f2;
    font-weight: bold;
}

#foodItems td:first-child {
    width: 60%;
}

#foodItems td:nth-child(2),
#foodItems td:nth-child(3) {
    width: 20%;
    text-align: center;
}

#timeRange,
#startDate,
#endDate {
    margin-right: 10px;
}

#searchFix,
#searchFlex {
    margin-top: 10px;
}

#customTimeRange label {
    margin-right: 10px;
}

#customTimeRange input[type="date"] {
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#searchFix, #searchFlex {
    background-color: rgb(16, 156, 232);
    color: white;
    padding: 5px;
    border-radius: 4px;
}

#searchFix:hover, #searchFlex:hover {
    background-color: blue;
}

#accountManageContent table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#accountManageContent th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#accountManageContent th {
    background-color: #f2f2f2;
    font-weight: bold;
}

#btnAddConfirm, #btnDeleteConfirm, #btnEditConfirm, #btnChangePasswordConfirm {
    background-color: rgb(15, 165, 75);
    color: white;
    padding: 5px;
    border-radius: 4px;
    padding: 10px;
}

#btnAddConfirm, #btnDeleteConfirm:hover, #btnEditConfirm:hover, #btnChangePasswordConfirm:hover {
    background-color: green;
}

#btnAdd {
    float: right;
    margin-bottom: 5px;
    background-color: #0eac0e;
}

#btnAdd:hover {
    background-color: green;
}

.input-group select {
    width: 100%;
}

#role {
    width: calc(100% + 2px);
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
    font-size: 14px;
}

#role option {
    padding: 8px;
    font-size: 14px;
}

.error-message {
    display: none;
    color: red;
    padding: 5px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="number"]:focus {
    border-color: #007bff;
    outline: none;
}

input[type="number"]:hover {
    border-color: #66afe9;
}